{% extends "system/base.html" %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for candidate in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <img src="{{ candidate.photo | media_filter }}">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ candidate.full_name }}</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ candidate.date_of_birth}}</li>
                </ul>
                <a class="btn btn-lg btn-block btn-outline-primary"
                   href="{% url 'candidates:candidate_details' candidate.pk %}" role="button">Подробнее</a>
                {% if user.is_authenticated %}
                <a class="btn btn-lg btn-block btn-outline-primary"
                   href="{% url 'candidates:candidate_update' candidate.pk %}" role="button">Редактировать</a>
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'candidates:candidate_delete' candidate.pk %}" role="button">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <a class="p-2 btn btn-outline-primary" href="{% url 'candidates:candidate_create'%}">Создать нового кандидата</a>
    {% endif %}
</div>
{% endblock %}